* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;    
    font-weight: 300;
    font-family: 'Lato';
    /*font-family: 'Raleway', sans-serif;   */
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1 {
    font-weight: 400;
    font-size: 250%;
    margin-bottom: 0%;
}

h2 {
    font-size: 150%;
    color: #e67e22;
    text-transform: uppercase;
    font-weight: 100;    
    text-align: center;    
    padding-top: 5%;
    padding-bottom: 3%;
}

/*h2:after {
    content:"";
    display: block;
    background-color: rgba(142, 68, 173, 0.55);
    height: 2px;
    width: 100px;
    margin: 0 auto;  
}*/

h3 {
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 400;
}

h4 {
    font-weight: 300;
    font-size: 120%;
    margin-top: 0px;
}

h5 {
    font-weight: 300;
    font-size: 80%;
    margin-top: 10px;    
}

h6 {
    margin-left: 20px;    
    display: inline;
    font-size: 200%;
    text-transform: uppercase;
}

p {
    font-size: 80%;
    line-height: 150%;    
}



/* ----------------------------------------------- */
/* HEADER SECTION */
/* ----------------------------------------------- */

header {
    /*background-color: #e67e22;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/Images/indore_cartoon1.jpg);
    background-position: center;
    background-size: cover;    
    height: 95vh;
    color: #fff;    
    background-attachment: fixed;    
}

.nav {   
    background-color: #e67e22;
}

.logo {
    display: inline-block;
    height: 50px;
    width: auto;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
}

.icon-logo {
    display: inline-block;
    float: left;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 300%;
    padding-left: 20px;
}

.main-nav {
    float: right;
    display: inline;
    list-style: none;
    padding-top: 20px;      
    font-size: 70%;
    margin-left: 25%;    
}

.main-nav li {
    display: inline;
    margin-right: 20px;    
}

.main-nav li a:link,
.main-nav li a:visited {    
    color: #fff;    
    text-decoration: none;
    text-transform: uppercase;  
    padding: 8px;
    border: 1px solid transparent;
    transition: border 1s;    
}

.main-nav li a:active,
.main-nav li a:hover {
    color: #ededed;
    padding: 8px;
    border: 1px solid;   
}


/* Sticky Nav Code */
.sticky {
    position: fixed;    
    width: 100%;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 5px #efefef;
    z-index: 10;
}

.sticky .icon-logo {
    color: #e67e22;
    display: inline-block;    
    margin: 0;
    padding: 0;
    font-size: 180%;
    padding-left: 20px;
}

.sticky .main-nav {    
    font-size: 65%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 25%;
    padding: 0px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {    
    color: #e67e22;    
    text-decoration: none;
    text-transform: uppercase;   
    /*padding: 8px;*/
    border: 1px solid #fff;    
    /*transition: border-left 1s;*/    
}

.sticky .main-nav li a:active,
.sticky .main-nav li a:hover {
    color: #e67e22;
    border: 1px solid;    
    transition: border 1s;
}

/* End Sticky Nav */

.header-text {    
    margin-top: 20%;    
    /*height: 20%;*/
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}

.gradient-underline {
    /*background: #fff;*/
    height: 3px;  
    /*background-image: radial-gradient( ellipse closest-side, rgba(241, 196, 15, 0.04),rgba(231, 76, 60, 0.86));  */
    background-image: linear-gradient(to right, transparent 0%, #f39c12,transparent 100%); 
    width: 40%;
    margin-left: 30%;
    margin-bottom: 1%;
}

.header-button {
    /*margin-left: 0%;*/
    /*margin-top: 5px;*/
    font-weight: 100;
    width: 26.2%;
    margin: auto;
    margin-top: 1%;
}

.button:link,
.button:visited {
    
    font-size: 75%;
    float:left;
    /*border: 1px solid #fff;*/
    text-decoration: none;
    color: #fff;
    padding: 8px;
    background-color: #e67e22;
    margin-right: 10px;
    transition: background-color 0.2s color 0.2s border 0.2s;
}

.button:hover,
.button:active {    
    background-color: #fff;
    /*border: 1px solid transparent;*/
    color: #e67e22;        
}

.button-white:link,
.button-white:visited {
    float:left;
    font-size: 75%;
    border: 1px solid #fdfdfd;
    text-decoration: none;
    color: #e67e22;
    padding: 8px;
    background-color: #fdfdfd;
    margin-right: 10px;
    transition: background-color 0.2s color 0.2s border 0.2s;
}

.button-white:hover,
.button-white:active {    
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;        
}

/* ----------------------------------------------- */
/* What we do SECTION */
/* ----------------------------------------------- */

.what-we-do {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/Images/blackpattern1);*/
    background-attachment: fixed;
    /*background-position: center;*/
    padding-top: 0px;  
    background-color: #fff;
    margin-top: 0%;
    margin-bottom: 5%;
    /*height: 100vh;*/
}

.what-we-do-desc {
    color:#e67e22;
    margin-left: 5%;
    margin-right: 5%;
}

.purple-row {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 100;    
    text-align: center;
    background-color: #e67e22;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;  
    margin-top: 0%;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;   
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #fff;
    margin-bottom: 0px;
}

.grey-box {
    
    background-color: #ededed;
    margin-top: 1%;    
    padding: 5%;
    /*box-shadow: -1px -1px 5px #ededed;*/
    border-radius: 10px;     
    height:200px;
}

/* ----------------------------------------------- */
/* ABOUT-US SECTION */
/* ----------------------------------------------- */

.about-us {
    background-color: #ededed;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 5%;
    /*height: 100vh;*/
}

.owners {    
    margin-top: 20%;   
    margin-left: 5%;  
    margin-right: 5%;
    padding-left: 0%;
}

.owners-img {
    float: left;
    display: block;
    margin-top: -20%;
    margin-left: 30%;    
}

.owners-img img {
    border: 2px solid #fff;    
    border-radius: 50%;
    /*height: 100px;*/
    width: auto;
}

.owners-desc {     
    background-color: #fff;
    color: #e67e22;
    padding-top: 25%; 
    padding-left: 0%;
    padding-right: 0%;
    border: 2px solid #fff;
    border-radius: 5px;
}

.owners-desc h3 {    
    text-align: center;
}

.owners-desc h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 80%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.underline {
    background-color: rgba(142, 68, 173, 0.18);
    height: 2px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.owners-desc p {
    margin-top: 2%;
    width: 100%;       
    padding-left: 12%;
    line-height: 180%; 
}
    
.icon-small {
    font-size:100%;
    font-weight: 100;
    margin: 0;
    padding: 0;  
}

/* ----------------------------------------------- */
/* HOW-WE-WORK SECTION */
/* ----------------------------------------------- */
.how-we-work {
    background-color: #ededed;
    color: #e67e22;
    padding-bottom: 5%;
}

.underline-box {
    height: 2px;
    background-color: #e67e22;
    margin-top:1%;
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
}

.steps {
}

.step-number {
    margin-left: 38%;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #e67e22;
    color: #fff;
    cursor: pointer;
}

.step-number p {
    font-size: 250%;
    font-weight: 200;    
    padding-top: 10%;
}

.steps-icon {    
    margin-top: 2%;    
    margin-bottom: 2%;    
    padding-left: 45%;
    font-size: 200%;    
    color: #e67e22;
    font-weight: 100;
    z-index: -2;    
}

.steps-text {
    font-size: 90%;
    margin-left: 20%;
    margin-right: 20%;
}

/* ----------------------------------------------- */
/* PRICING SECTION */
/* ----------------------------------------------- */

.pricing {
    height: 500px;
    background-color: #fff;
}


/* ----------------------------------------------- */
/* CONTACT-US SECTION */
/* ----------------------------------------------- */


.contact-us {    
    margin-top: 0;
    width: 100%;
    margin-bottom: 5%;
}

.map {    
    width: 58%;
    height: 500px;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    /*position: relative;*/
    /*z-index: -1;*/
    box-shadow: 0 0 10px 2px #d0d0d0;
}

.form-box {
    /*z-index: 10;*/
    /*position: absolute;*/
    float: left;    
    width: 40%;   
    padding-top: 0;
    background-color: #fff;
}

.contact-form {
    color: #e67e22;
    font-size: 85%;
    width: 100%;
    padding: 5%;
    padding-top: 0;
    line-height: 30px;
}

input[type=text],
input[type=email],
select,
textarea {    
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.message-textarea {
    height: 250px;
    line-height: 150%;
}

#send-btn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    background-color: #e67e22;
    color: #fff;  
    border-radius: 5px;
    border: 0px solid #fff;
    transition: background-color 0.1s;
}

#send-btn:hover {
    background-color: #f1c40f;
    color: #fff;
}

label { 
    float: left;
    padding: 3px;
    padding-left: 5%;
    border-radius: 3px;
    border: 1px solid #fff;        
}

.gradient-row {
    padding: 0;
    margin: 0;
    height: 3px;
    background-image: radial-gradient( ellipse farthest-side, rgba(142, 68, 173, 0.60), #fff );  
}

footer {
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: rgba(142, 68, 173, 0.50);
    font-size: 75%;
    font-weight: 300;
}

.footer-logo {
    font-size: 300%;
    color: #e67e22;
    float: left;
    width: 5%;
    padding-left: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.footer-content {
    padding-top: 0.5%;
    padding-left: 0.5%;
    float: left;
    width: 95%;    
}

.footer-row {
    text-align: center;
    margin-bottom: 2px;
}