
* {
    font-family: 'Lato';
    color: #fff;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
	font-weight: 300;
    font-style: italic;
    font-size: 30px;
}

p {
	font-size: 20px;
    font-weight: 300;
}

.frontPage {
	height: 100vh;		
	/*background-color: black;*/
    background-image: linear-gradient(rgba(29, 4, 19, 0.6),rgba(28, 4, 4, 0.6)), url(/Images/india1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
	color: #fff;	
}

.navbar {
	margin-bottom: 0;
	background-color: transparent;
    border: 0;
	border-radius: 0;
}

#navBarMenu > ul > li > a {    
    padding-bottom: 5px;
}

#navBarMenu > ul > li > a:link,
#navBarMenu > ul > li > a:visited {
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s, color 0.5s;
}

#navBarMenu > ul > li > a:hover,
#navBarMenu > ul > li > a:focus,
#navBarMenu > ul > li > a:active {
    color: #e67e22; 
    border-bottom: 1px solid #e67e22;
    
}


.vertical-align {
	margin-top: 25%;	
}

.underline {
	height: 2px;
	background-image: linear-gradient(to right, transparent 0%, #d35400, transparent 100%);	
}

.locationIcon {		
	font-size: 15px;
	margin-right: 5px;
    color: #fff;
}

.btn-default {
	border-radius: 5px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #d35400;
	color: #fff;
	font-weight: 300;
	border: none;    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
